body {
  font-family: "Rubik";
  color: rgb(25, 25, 25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header__img {
  width: 45px;
  height: auto;
  padding-right: 30px;
}
.CountryPicker {
  display: flex;
  justify-content: center;
  align-items: center;
}
